<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.panindia" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PanIndia"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.test.SearchListNewActivity"
            android:exported="true" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FareRuleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.searchAdapterList.SearchListActivity"
            android:exported="false" />
        <activity
            android:name=".api.PresentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FlightAfterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TransactionFullDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.JoiningListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeDrawable.OthersActivity"
            android:exported="false"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.InsuranceActivity"
            android:exported="false"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.RechargeActivity"
            android:exported="false"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.FlightActivity"
            android:exported="true"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.BbpsActivity"
            android:exported="false"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.MoneyTransferActivity"
            android:exported="true"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.homeDrawable.AepsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeDrawable.PanCardActivity"
            android:exported="false"
            android:label="@string/title_activity_pan_card"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.activity.ui.HomeMainActivity"
            android:exported="true"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.activity.ui.PanAdminActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.test.expandableListTest.expActivity"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".ui.activity.PanCardAdminActivity"
            android:exported="false"
            android:label="@string/title_activity_pan_card_admin"
            android:theme="@style/Theme.PanIndia.NoActionBar" />
        <activity
            android:name=".ui.test.Drawablectivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.TransparentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.CropingToolsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PsaLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminCoupanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RetailerCoupanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FlightActivity"
            android:exported="true"
            android:theme="@style/Theme.PanIndia.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.indiavle.ui.activity.HotelActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.example.indiavle.ui.activity.BusActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>